@import "../SCSS/variables.scss";

.headerUp {
    width: 100%;
}

.header-wrapper {
    width: 70%;
    height: 4.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;

        li:last-child {
            width: 6rem;
        }

        li {
            margin: 0 1rem;
            font-weight: 500;
            cursor: pointer;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background-color: black;
                height: 4px;
                width: 100%;
                bottom: -0.5rem;
                transform-origin: 100% 0;
                transform: scaleX(0);
                transition: transform 0.4s;
            }

            &:hover::before {
                transform-origin: 0 0;
                transform: scaleX(1);
            }
            .design {
                display: flex;
                align-items: center;
            }
            .fa-palette {
                margin-right: 0.2rem;
            }
        }
        .promo {
            color: $second-color;
        }
    }

    .logo {
        cursor: pointer;
        width: 164px;
        height: 60px;
    }

    .search-wrapper {
        border-left: 1px solid $third-color;
        width: 140px;;
        display: flex;
        align-items: center;
        cursor: pointer;
        .search-placeholder {
            width: 140px;
            font-weight: 500;
            text-align: left;
            padding: 4px 0 2px;
            border-bottom: 2px solid #000;
            background: #fff;
            font-size: 16px;
        }
        svg {
            width: 30px;
            margin-left: 1rem;
        }
    }
}
